{% extends 'index.html' %}
<meta charset="UTF-8">
{% block title%}
    Home
{% endblock title%}

{% block content %}
    <div class="sidenav">
        <p style="font-size: 32px; text-align: center;">Browse by Class</p>
        <div style="line-height: 40px;">
            <a style="font-size: 28px;" href="{{ url_for('class6') }}">Class 6</a>
            <a style="font-size: 28px;" href="{{ url_for('class7') }}">Class 7</a>
            <a style="font-size: 28px;" href="{{ url_for('class8') }}">Class 8</a>
            <a style="font-size: 28px;" href="{{ url_for('class9') }}">Class 9</a>
            <a style="font-size: 28px;" href="{{ url_for('class10') }}">Class 10</a>
            <a style="font-size: 28px;" href="{{ url_for('class11') }}">Class 11</a>
            <a style="font-size: 28px;" href="{{ url_for('class12') }}">Class 12</a>
        </div>
        <br>
    </div>
    <div>
        {% for post in posts %}
        <div  class="homepage-content" style="line-height: 17px;">
            <p style="display: inline;">Posted by {{post.author.name}}</p>
            <small style="font-size: 85%;">on {{post.date_posted}}</small>
            <p>Class: {{post.post_std}}</p>
            <p>Subject: {{ post.subject }}</p><br>
            <h2 style="font-size: 180%; margin-top: -3px;">{{post.question}}</h2>
            <a class="link" style="font-size: 21px; display: flex; justify-content: right; margin: -30px 30px 0 0;"
               href="{{ url_for('view_question', post_id=post.id) }}">View Question</a>
        </div>
        {% endfor %}
    </div>
{% endblock content%}
