{% extends 'index.html' %}
<meta charset="UTF-8">
{% block title%}
Login
{% endblock title%}

{% block content %}
<form action="#" method="POST" autocomplete="off">
    {{ form.hidden_tag() }}
    <div class="login-form" style="height: 500px; width: 520px; margin: 35px 430px 0 480px;">
        <h2 style="font-size: 35px;">Login to your Account</h2><br><br><br><br>
        <div class="form-field">
            {{ form.email.label(style="margin-left: 5px;") }}<br>

            {% if form.email.errors %}
            {{ form.email(style="height: 25px; width: 200px; border: 1px solid red;") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span><br>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(style="height: 25px; width: 200px;") }}<br><br>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.adm_no.label(style="margin-left: 40px;") }}<br>

            {% if form.adm_no.errors %}
            {{ form.adm_no(style="height: 25px; width: 200px; border: 1px solid red;") }}
            <div class="invalid-feedback">
                {% for error in form.adm_no.errors %}
                <span>{{ error }}</span><br>
                {% endfor %}
            </div>
            {% else %}
            {{ form.adm_no(style="height: 25px; width: 200px;") }}<br><br>
            {% endif %}
        </div>
        <div>
            <br><br>{{ form.submit(class='login-submit')}}
        </div>
    </div>
    <div>
        <p style="font-size: 17px; margin-left: 480px;">
            Don't have an account?  <a href="{{ url_for('register') }}" class="link">Register</a>
        </p>
    </div>
</form>
{% endblock content %}